        .auto-style34 {
            width: 121px;
        }
        .auto-style35 {
            width: 122px;
        }
        .auto-style81 {
            width: 148px;
        }
        .auto-style38 {
            width: 15px;
        }
        .auto-style18 {
            width: 149px;
        }
        .auto-style82 {
            width: 148px;
            text-align: right;
        }
        .auto-style91 {
            width: 149px;
            text-align: right;
        }
        .auto-style99 {
            height: 35px;
        }
        .auto-style5 {
            width: 100%;
        }
        .auto-style39 {
            width: 151px;
            overflow: auto;
        }
        .auto-style50 {
            width: 101px;
        }
        .auto-style41 {
            width: 15px;
            height: 23px;
        }
        .auto-style48 {
            width: 122px;
            text-align: right;
            height: 23px;
        }
        .auto-style63 {
            width: 101px;
            height: 23px;
        }
        .auto-style65 {
            width: 121px;
            height: 24px;
        }
        .auto-style66 {
            width: 15px;
            height: 24px;
        }
        .auto-style67 {
            width: 122px;
            text-align: right;
            height: 24px;
        }
        .auto-style64 {
            text-align: center;
        }
        .wizard:hover {
            background-color: lightblue;
        }
        .quote:hover {
            background-color: lightblue;
        }
        .auto-style106 {
            font-size: xx-large;
        }
        .auto-style111 {
            width: 500px;
            height: 280px;
            border-style: solid; 
            border-width: 3px;
        }
        .auto-style127 {
            width: 253px;
            height: 23px;
        }
        .auto-style128 {
            text-align: right;
            height: 33px;
            background-color: tan;
        }
        .modalBackground {
            background-color: white;
            filter: alpha(opacity=80);
            opacity: 0.8;
            z-index: 10000;
        }
        .auto-style144 {
            width: 249px;
        }
        .auto-style147 {
            width: 118px;
            text-align: right;
            height: 31px;
        }
        .auto-style148 {
            width: 118px;
        }
        .auto-style149 {
            width: 249px;
            text-align: right;
        }
        .auto-style150 {
            width: 249px;
            height: 31px;
        }
        .auto-style151 {
            width: 118px;
            height: 40px;
        }
        .auto-style152 {
            width: 249px;
            height: 40px;
        }
        .auto-style153 {
            width: 118px;
            height: 30px;
        }
        .auto-style177 {
            width: 274px;
        }
        .auto-style186 {
            width: 170px;
            text-align: right;
            height: 23px;
        }
        .auto-style187 {
            width: 224px;
            height: 23px;
        }
        .search:hover {
            background-color: lightblue;
        }
        .auto-style199 {
            width: 249px;
            height: 23px;
        }
        .auto-style200 {
            width: 274px;
            height: 22px;
        }
        .auto-style235 {
            height: 23px;
            width: 171px;
        }
        .auto-style236 {
            width: 125px;
            text-align: right;
            height: 23px;
        }
        .auto-style266 {
            width: 121px;
            height: 75px;
        }
        .auto-style267 {
            width: 15px;
            height: 75px;
        }
        .auto-style268 {
            height: 75px;
        }
        .center-alignment {
            text-align: center;
        }
